@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-right {
  animation: scrollRight 60s linear infinite;
  display: flex;
  width: max-content;
}

.scroll-left {
  animation: scrollLeft 60s linear infinite;
  display: flex;
  width: max-content;
}
